@font-face {
    font-family: 'CrimsonText-Bold' ;
    src: url('./fonts/CrimsonText-Bold.woff2') format('woff2');
    font-weight: 416;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans-Regular' ;
    src: url('./fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: 404;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSerifDisplay' ;
    src: url('./fonts/DMSerifDisplay-Regular.woff2') format('woff2');
    font-weight: 404;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter' ;
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 404;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins' ;
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 404;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Bold' ;
    src: url('./fonts/WorkSans-Bold.woff2') format('woff2');
    font-weight: 113;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Medium' ;
    src: url('./fonts/WorkSans-Medium.woff2') format('woff2');
    font-weight: 99;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Regular' ;
    src: url('./fonts/WorkSans-Regular.woff2') format('woff2');
    font-weight: 416;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-black: #000000;
    --color-dark: #212529;
    --color-white: #FFFFFF;
    --color-light: #F5F5F5;
    --color-green: #74C69D;

    --font-size-xs: 14px ;
    --font-size-s: 15px ;
    --font-size-m: 16px ;
    --font-size-l: 20px ;
    --font-size-xl: 24px ;
    --font-size-xxl: 30px ;
    --font-size-xxxl: 40px ;

    --gap-xxxxs: 18px;
    --gap-xxxs: 20px;
    --gap-xxs: 30px;
    --gap-xs: 35px;
    --gap-s: 40px;
    --gap-m: 47px;
    --gap-l: 60px;
    --gap-xl: 68px;
    --gap-xxl: 80px;
    --gap-xxxl: 90px;
    --gap-xxxxl: 100px;
    --gap-xvl: 120px;


    --size-zero: 0px;
    --size-xxxs: 15px;
    --size-xxs: 16px;
    --size-xs: 17px;
    --size-s: 19px;
    --size-m: 20px;
    --size-l: 25px;
    --size-xl: 35px;
    --size-xxl: 45px;
    --size-xxxl: 55px;
    --size-xxxxl: 60px;
    --size-xvl: 70px;
    --size-xvvl: 135px;
   

    --line-height-standart: 1.25;

    --letter-spacing-zero: 0px;
    --letter-spacing-5: 5px;

    --opacity-50: 0.5;
    --opacity-75: 0.75;

    --corner-radius: 5px;

    --font-family-base: 'WorkSans', 'sans-serif';
    --font-family-accent: 'CrimsonText', 'sans-serif';

    --button-height: 48px;

    --container-width: 1180px;
    --conteiner-padding-x: 15px;

    --transition-duration: 0.2s;     
}

body {
    /* width: 1440px; */
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: var(--font-size-s);
    line-height: var(--line-height-standart);
    color: var(--color-dark);
    background-color: var(--color-light);
    margin: var(--size-zero);
    /* overflow-x: hidden; */
}
a{
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--font-size-l);
    font-family: 'WorkSans-Regular';
}

ul{
    list-style: none;
}

.header-Start{
    color: var(--color-white);
    font-family: 'WorkSans-Medium';
    font-size: var(--font-size-xxxl);
    display: flex;
    column-gap: var(--column-gap-s);    
}

h1, h2, h3 {
    font-weight: 700;
    margin: var(--size-zero);
}

.header {
    background-color: var(--color-green);
    padding: 35px 135px;
    color: var(--color-white);
    font-family: 'WorkSans-Medium';
    display: flex;
    justify-content: space-between;    
}

.header-menu-list {
    display: flex;
    column-gap: var(--gap-xxs);    
}

.header-menu-link {
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: var(--font-size-l);
    letter-spacing: var(--letter-spacing-zero);
}

.header_container_burger_menu{
   display: none;
}

 /* welcome */
 
.welcome{
   /* height: 486px; */
    background-color: var(--color-green);
    /* padding: 0 130px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .welcome_container{
   display: flex;
   justify-content: space-between; 
   column-gap: var(--gap-xvl); 
   margin-bottom: var(--size-xvl);
   /* margin-left: 130px; */
   /* margin-right: 130px; */
 }

 .welcome_text {
     width: 416px; 
 }

 .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'WorkSans-Regular';
    color: var(--color-black);
    font-size: var(--font-size-l);
    letter-spacing: var(--letter-spacing-zero);

    width: 170px;
    height: 48px;

    background-color: var(--color-white);
    border-radius: var(--corner-radius);
 }

 .welcome_subtitle{
    margin-bottom: var(--size-xxxs);
    font-family: 'WorkSans-Bold';
    font-size: var(--font-size-m);
    color: var(--color-white);
    letter-spacing: var(--letter-spacing-5);
    line-height: var(--line-height-standart);
 }

 .welcom_title{
    margin-bottom: var(--size-xxxs);
    font-family: 'CrimsonText-Bold';
    font-size: var(--font-size-xxxl);
    color: var(--color-white);
    letter-spacing: var(--letter-spacing-zero);
    line-height: var(--line-height-standart);
 }

 .welcome_desc{
    margin-bottom: var(--size-l);
    font-family: 'WorkSans-Regular';
    font-size: var(--font-size-s);
    color: var(--color-white);
    letter-spacing: var(--letter-spacing-zero);
    line-height: var(--line-height-standart);
    opacity: var(--opacity-75); 
 }

 .welcome_picture_1{
    width: 644.28px;
    height: 378.13px;
    margin-left: var(--size-zero);
 }

 /* Partners */

 .container_partners{
    margin-top: var(--size-xxxxl);
    margin-bottom: var(--size-xxxxl);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .partners_text{
    width: 411px;
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    
 }

 .partners_subtitle{    
    font-family: 'WorkSans-Bold';
    color: var(--color-green);
    font-size: var(--font-size-m);
    letter-spacing: var(--letter-spacing-5);
    line-height: var(--line-height-standart);
    margin: var(--size-zero);
 }

 .partners_title{
    margin-top: var(--size-xxs);
    margin-bottom: var(--size-xxs);
    font-family: 'CrimsonText-Bold';
    color: var(--color-black);
    font-size: var(--font-size-xxxl);
    letter-spacing: var(--letter-spacing-zero);
    line-height: var(--line-height-standart);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px var(--color-black);
 }

 .partners_texts{
    font-family: 'WorkSans-Regular';
    color: var(--color-black);
    font-size: var(--font-size-l);
    letter-spacing: var(--letter-spacing-zero);
    line-height: var(--line-height-standart);
    text-align: center;
 }

 .partners_pictures{
    display: flex;
    column-gap: var(--gap-xl);
    margin: 55px 20px 55px 20px; 
    flex-wrap: wrap;
    gap: 40px 68px; 
 }

 .btn_learn_more{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'WorkSans-Regular';
    color: var(--color-white);
    font-size: var(--font-size-l);
    letter-spacing: var(--letter-spacing-zero);

    width: 170px;
    height: 48px;

    background-color: var(--color-dark);
    border-radius: var(--corner-radius);
 }

 /* Section 3 */

 .section_3{    
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .welcom_title.section_3{
    color: var(--color-dark);
    margin: var(--size-zero);
 }

 .welcome_desc.section_3{
    color: var(--color-dark);
    opacity: var(--opacity-50);
    margin-top: var(--size-xxs);
    margin-bottom: var(--size-xxs);
 }

 .container_section_3{
    margin-bottom: 60px;
    display: flex;
    width: 1180px;
    justify-content: space-between;
    column-gap: auto;
 }

 .section_3_text{
    width: 470px;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;     
 }

 /* Our team */

 .container_partners.our_talents{
   margin-top: 0px;
 }
 .partners_pictures.our_team_pictures{
   column-gap: 47px;
   margin: 45px 20px 45px 20px;
   flex-wrap: wrap;
   gap: 35px 47px;
 }

 .container_card{
   width: 252px;
   height: 299px;
   background-color: var(--color-white);
   border-radius: var(--corner-radius);
   box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .card{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   display: flex;
   align-items: center;

 }

 .team_text{
   margin-top: 19px;
   display: flex;
   flex-direction: column;
   align-self: flex-start;
 }

 .title_team{
   font-family: 'CrimsonText-Bold';
   color: var(--color-dark);
   font-size: var(--font-size-xl);
   letter-spacing: 0px;
   line-height: var(--line-height-standart);
 }
 
 .picture_card{
   height: 175px;
   width: 175px;   
 }

 .description_team{
   margin-top: 17px;
   font-family: 'DMSans-Regular';
   font-size: var(--font-size-xs);
   letter-spacing: 0px;
   color: var(--color-dark);
   opacity: var(--opacity-50);
 }

 /* Footer */

 .footer{
   /* width: 1440px; */
   height: 125px;
   background-color: var(--color-green);
   flex-direction: column; 
   justify-content: center;
   display: flex;
   align-items: center;   
 }

 .container_footer{
   width: 1178px;
   display: flex;
   justify-content: space-between;
 }

 .container_icons{
   display: flex;
   column-gap: 20px;
 }

 .footer_info{
   font-family: 'WorkSans-Regular';
   color: var(--color-white);
   font-size: var(--font-size-m);
   letter-spacing: 0px;
 }

 /* адаптив */

 @media (max-width: 1410px){
   .welcome_container {
      column-gap: 100px;
   }
 }

 @media (max-width: 1350px){
   .welcome_container {
      column-gap: 90px;
   }
 }

 @media (max-width: 1330px){
   .welcome_container {
      column-gap: 80px;
   }
 }
 @media (max-width: 1310px){
   .welcome_container {
      column-gap: 60px;
   }
 }

 @media (max-width: 1200px){
   .welcome_container {
      flex-direction: column;
      align-items: center;
   }
   .container_text{
      order: 2;
   }
   .welcome{
      align-items: center;
   }

   .welcome_picture{
      order: 1;
   }

   .welcome_picture_1 {
      max-width: 444.28px;
      max-height: 178.13px;
   }

   .container_section_3{
      flex-direction: column;
      align-items: center;
      gap: 30px;
   }

   .section_3_picture{
      order: 1;
   }

   .section_3_text{
      order: 2;
   }

   .container_footer{
      column-gap: 100px;
      width: 700px;
   }
 }

@media (max-width: 540px){
   .header-logo-image{
      max-width: 45px;
      max-height: 31.06px;
   }

   .header_text{
      font-size: var(--font-size-xxl);
   }

   .header{
      padding: 17px 20px;
   }
}

 @media (max-width: 550px){
    .welcome_picture_1 {
      max-width: 444.28px;
      max-height: 178.13px;
   } 
}
 @media (max-width: 640px){
     .picture_section_3 {
      max-width: 500px;
      max-height: 331.43px;
   }

   .picture_section_4{
      max-width: 385px;
      max-height: 365.87px;
   }
 }

 @media (max-width: 720px){
   .container_footer {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 375px;
   }
 }

 @media (max-width: 900px){
   .header-menu {
      display: none;
   }

   .header_container_burger_menu{
      display: flex;
      align-items: center;
   }
 }

 @media (max-width: 591px){
   .partners_pictures.our_team_pictures{
       display: flex;
        flex-direction: column;
        align-items: center;
   }
 }

 @media (max-width: 500px){

   .welcome_picture_1 {
      max-width: 335px;
      max-height: 196.61px;
   }
   
   .partners_pictures{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .picture_section_3{
      max-width: 335px;
      max-height: 240.88px;
   }

   .picture_section_4{
      max-width: 335px;
      max-height: 315.87px;
   }

   .welcome_desc{
      font-size: var(--font-size-s);
   }

   .partners_text{
      width: 335px;
   }

   .partners_title{
      text-shadow:none;
      -webkit-text-stroke:none;
      text-align: center
   }

   .welcome_desc.section_3{
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .welcome_desc.section_3.section_4{
      margin: 16px 0px;
   }

   .partners_title.our_talents_text{
      font-size: var(--font-size-xl);
   }

   .welcome_container{
      margin-left: 0px;
      margin-right: 0px;
   }

   .partners_pictures{
      margin-left: 20px;
      margin-right: 20px;
   }

   .container_section_3{
      margin-left: 20px;
      margin-right: 20px;
   }

   .section_3_text{
      width: 335px;
   }

   .welcome_text{
      width: 335px;
   }

   .partners_pictures.our_team_pictures{
      margin-left: 20px;
      margin-right: 20px;
   }
 }